head {
    
}

body {
    --bg-color: #ea2728;

    /*background-image: url("./resauces/Img/BuildingsLatest.png");*/
    background-repeat-y: no-repeat;
    background-size: contain;
    font-size: 12px;
    background-color: black;
}

a {
    color: black;
}

.cabsax {
    width: 10em
}

.maincontainer {
    top: 0px;
    position: absolute;
    margin-top: 10px;
}

.buildings {
    width: 100%;
    padding-top: 180px;
    background-color: var(--bg-color);
}

.title {
    padding-top: 19em;
}

.test1 {
    background-color: var(--bg-color);
}

.cabsaxline {
    width: 50px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contentM {
    background-color: var(--bg-color);
    color: black;
    width: 60em;
    height: 10em;
    display: block;
    padding-left: 14em;
    padding-top: 2.5em;
}

.content {
    padding-top: 100px;
}

.middle {
    font-size: 40px;
}