html {
    background-color: var(--red-color);
}

body {
    --red-color: #ea2728;
    --black-color: black;
    background-size: contain;
    font-size: 12px;
    background-color: black;
}

a {
    color: black;
}

.rewindlogo {
    width: 7em;
}

.buildings {
    width: 100%;
    background-color: var(--bg-color);
}

.title {
    padding-top: 19em;
}

.test1 {
    background-color: var(--bg-color);
}

.cabsaxline {
    width: 50px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    background-color: var(--red-color);
    height: 100%;
}

.header {
    margin-top: 10px;
}

.block {
    display: block;
    padding-left: 14em;
    padding-top: 2.5em;
}

.content {
    padding-top: 100px;
}

.middle {
    font-size: 40px;
}

.galImgLeft {
    width: 92%;
}

.galImgTopLeft {
    width: 46%;
    transform: rotate(-1deg);
}

.galImgTopRight {
    width: 48%;
    transform: rotate(1deg);
}

.galImgBottom {
    width: 100%;
    transform: rotate(-1deg);
}

.gal {
    border-radius: 15px;
    margin: 5px;
}

.gallery {
    width: 100%;
}

.location {
    height: 100%;
    width: 100%;
}

.locationLeft {
    width: 100%;
    height: 100%;
}

.pageTabContainer {
    width: 100%;
    text-align: right;
}

.pageTab {
    font-size: 3.332em;
    letter-spacing: .5em;
}



/* EDITING BOOTSTRAP */

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.when {
    font-size: 30px;
    width: 100%;
    text-align: center;
    height: fit-content;
}

.infoContainer {
    width: 100%;
    height: 100%;
}

.time {
    padding: 0px 80px 0px 80px;
}

.whenTitle {
    font-size: 40px;
    text-align: center;

}

.bookTicket {
    width: 100%;
    height: 100%;
}

.ticketButtonContainer {
    height: fit-content;
    text-align: center;
    width: 100%;

}

.ticketButtonBubble {
    width: 70%;
    height: 1%;
    background-color: black;
}

.map {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.mapContainer {
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
}

.entryText {
    font-size: 30px;
}

.entryTitle {
    font-size: 40px;
}

.ticketContainer {
    width: 100%;
    height: 1000px;
}
a:hover {
    color: #ff7d7d;
    text-decoration: none;
}

.downloadForm {
    width: 100%;
    height: fit-content;
    text-align: center;
    padding-bottom: 50px;
}

.invalidKeyError {
    color: #ffdf53;
}

code {
    color: #8d8d8d;
}
